* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	color: #fff;
	background-color: #000;
	line-height: 1.6;
}

header {
	background-color: black;
	padding: 10px 0;
	text-align: center;
}

#name {
	font-size: 32px;
}

div {
	color: lightskyblue;
}

.logo img {
	max-width: 350px;
}

.cover-photo {
	text-align: center;
	margin: 20px 0;
}

.cover-photo img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}

#me {
	display: flex;
	justify-content: space-around;
}

.projects,
.contact {
	padding: 20px;
	text-align: center;
}

#skilz > div:nth-child(1) {
	animation-delay: 0s;
}
#skilz > div:nth-child(2) {
	animation-delay: 0.1s;
}
#skilz > div:nth-child(3) {
	animation-delay: 0.2s;
}

@keyframes whirlpool {
	0% {
		transform: scale(0) rotate(0deg);
		opacity: 0;
	}
	100% {
		transform: scale(1) rotate(360deg);
		opacity: 1;
	}
}

.contact {
	display: flex;
	justify-content: space-around;
}

.contact ul {
	list-style: none;
	padding: 0;
}

.contact li {
	margin: 10px 0;
}

.contact a {
	color: #1e90ff;
	text-decoration: none;
}

#skilz > div {
	font-size: 1.5rem;
	margin: 16px;
	transition: transform 0.3s ease;
	animation: whirlpool 3s ease-in-out forwards;
}

#skilz > div > a {
	color: white;
	text-decoration: none;
}

#skilz > div:hover {
	transform: scale(1.35);
}

#skilz > div > a:hover {
	text-decoration: underline;
}

.projects a:hover,
.contact a:hover {
	text-decoration: underline;
}

footer {
	background-color: #111;
	display: flex;
	justify-content: space-around;
	padding: 10px 0;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0;
}
